@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");

:root {
  --clr-text-h1: white;
  --clr-text-primary: hsl(235, 19%, 35%);
  --clr-text-secondary: hsl(236, 9%, 61%);

  --clr-fill: white;
  --clr-accent-primary: hsl(220, 98%, 61%);
  --clr-muted: lightgrey;
  --clr-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);

  --row-height: 50px;
  --spacer: 1rem;

  --bg-mobile: hsl(0, 0%, 98%) url('../images/bg-mobile-light.jpg') top center /
    contain no-repeat;
  --bg-desktop: hsl(0, 0%, 98%) url('../images/bg-desktop-light.jpg') top center /
    contain no-repeat;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: var(--bg-mobile);
  color: var(--clr-text-primary);
}

#page-container {
  min-width: 330px;
  width: 60%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  margin: calc(var(--spacer) * 3) 0 calc(var(--spacer) * 2);

  #theme-switcher {
    position: relative;
    bottom: 2px;
  }

  label img {
    height: 22px;
    margin-left: var(--spacer);
  }
}

h1 {
  font-size: 28px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  flex: 1;
  color: var(--clr-text-h1);
  position: relative;
  top: 1px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: calc(var(--spacer) * 3);
  background: transparent;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: grabbing;
    margin-top: -5px; // Required for Chrome
    height: var(--spacer);
    width: var(--spacer);
    background-color: var(--clr-accent-primary);
    border: 1px solid var(--clr-muted);
    border-radius: 3em;
    box-shadow: var(--clr-box-shadow);

    &:hover,
    &:focus {
      background-color: var(--clr-fill);
      transition: 0.5s;
    }
  }

  &::-moz-range-thumb {
    cursor: grabbing;
    height: var(--spacer);
    width: var(--spacer);
    background-color: var(--clr-accent-primary);
    border: 1px solid var(--clr-muted);
    border-radius: 3em;
    box-shadow: var(--clr-box-shadow);
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    cursor: pointer;
    width: calc(var(--spacer) * 3);
    height: calc(var(--spacer) / 2);
    background: var(--clr-text-h1);
    border-radius: 3em;
    border: 1px solid var(--clr-muted);
  }

  &:focus::-webkit-slider-runnable-track {
    background: var(--clr-text-h1);
  }

  &::-moz-range-track {
    cursor: pointer;
    width: calc(var(--spacer) * 3);
    height: calc(var(--spacer) / 2);
    background: var(--clr-text-h1);
    border-radius: 3em;
    border: 1px solid var(--clr-muted);
  }
}

h2 {
  display: none;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: calc(var(--spacer) * 2) 0 calc(var(--spacer) * 0.8)
    calc(var(--spacer) / 2);
}

button {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: var(--clr-text-primary);
  border: none;
  background-color: var(--clr-fill);
  padding: var(--spacer) calc(var(--spacer) / 2);
}

button:hover,
button:focus {
  color: var(--clr-accent-primary);
  transition: color 0.5s;
}

button.active {
  color: var(--clr-accent-primary);
}

form {
  background-color: transparent;
  border-radius: 0.4em;
  display: flex;
  box-shadow: var(--clr-box-shadow);

  input {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    flex: 1;
    height: 50px;
    border: none;
    padding-left: var(--spacer);
    border-radius: 0.4em 0 0 0.4em;
  }

  input::placeholder {
    color: var(--clr-text-secondary);
  }

  button {
    border-radius: 0 0.4em 0.4em 0;
    padding: 0 var(--spacer);
  }
}

ul {
  list-style-type: none;
  margin: var(--spacer) 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0.4em;
  box-shadow: var(--clr-box-shadow);

  li {
    display: flex;
    align-items: center;
    min-height: var(--row-height);
    background-color: var(--clr-fill);
    padding-left: var(--spacer);

    label {
      display: flex;
      align-items: center;

      .custom-checkbox {
        width: 1.2em;
        height: 1.2rem;
        border: 1px solid var(--clr-muted);
        border-radius: 3em;
        margin-right: calc(var(--spacer) * 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    input:checked + label .custom-checkbox {
      background: linear-gradient(
        135deg,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
    }

    input:checked + label {
      text-decoration: line-through;
      color: var(--clr-muted);
    }

    input {
      display: none;
    }
  }

  li:first-child {
    border-radius: 0.4em 0.4em 0 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid var(--clr-muted);
  }

  li.active {
    font-weight: 700;
    color: var(--clr-accent-primary);
  }
}

ul#list-items {
  margin-bottom: 0;
}

#lists-section li:last-child {
  border-radius: 0.4em;
}

#list-items-options,
#data-filters {
  display: flex;
  align-items: center;
  height: var(--row-height);
  padding: var(--spacer);
  background-color: var(--clr-fill);
  box-shadow: var(--clr-box-shadow);
}

#list-items-options {
  border-top: 1px solid var(--clr-muted);
  border-radius: 0 0 0.4em 0.4em;
  margin-top: 0;
  color: var(--clr-text-secondary);

  :first-child {
    flex: 1;
  }

  button {
    color: var(--clr-text-primary);
    padding: 0;
    margin-left: var(--spacer);

    &:hover,
    &:focus {
      color: var(--clr-accent-primary);
      transition: color 0.5s;
    }
  }
}

#data-filters {
  justify-content: center;
  border-radius: 0.4em;
  margin: var(--spacer) 0 calc(var(--spacer) * 3);

  button {
    font-size: 0.9rem;
    color: var(--clr-text-secondary);
  }
}

//--------------------------

.attribution {
  font-size: 11px;
  text-align: center;

  position: fixed;
  bottom: 1em;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url(../images/bg-desktop-light.jpg);
  }

  header {
    margin-top: calc(var(--spacer) * 4.6);
  }
}
