@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
:root {
  --clr-text-h1: white;
  --clr-text-primary: hsl(235, 19%, 35%);
  --clr-text-secondary: hsl(236, 9%, 61%);
  --clr-lines: hsl(236, 33%, 92%);
  --clr-fill: white;
  --clr-accent-primary: hsl(220, 98%, 61%);
  --clr-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.2);
  --row-height: 50px;
  --spacer: 1rem;
  --bg-mobile: hsl(0, 0%, 98%) url("../images/bg-mobile-light.jpg") top center /
    contain no-repeat;
  --bg-desktop: hsl(0, 0%, 98%) url("../images/bg-desktop-light.jpg") top center /
    contain no-repeat;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: var(--bg-mobile);
  color: var(--clr-text-primary);
  overflow-x: hidden;
}

#page-container {
  min-width: 330px;
  width: 60%;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: calc(var(--spacer) * 3) 0 calc(var(--spacer) * 2);
}

header #theme-switcher {
  position: relative;
  bottom: 2px;
}

header label img {
  height: 22px;
  margin-left: var(--spacer);
}

h1 {
  font-size: 28px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--clr-text-h1);
  position: relative;
  top: 1px;
}

label i {
  color: var(--clr-text-h1);
  font-size: 24px;
  margin-left: calc(var(--spacer) / 2);
}

input[type="range"] {
  -webkit-appearance: none;
  width: calc(var(--spacer) * 3);
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  margin-top: -5px;
  height: var(--spacer);
  width: var(--spacer);
  background-color: var(--clr-accent-primary);
  border: 1px solid var(--clr-lines);
  border-radius: 3em;
  -webkit-box-shadow: var(--clr-box-shadow);
          box-shadow: var(--clr-box-shadow);
}

input[type="range"]::-webkit-slider-thumb:hover, input[type="range"]::-webkit-slider-thumb:focus {
  background-color: var(--clr-fill);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input[type="range"]::-moz-range-thumb {
  cursor: grabbing;
  height: var(--spacer);
  width: var(--spacer);
  background-color: var(--clr-accent-primary);
  border: 1px solid var(--clr-lines);
  border-radius: 3em;
  box-shadow: var(--clr-box-shadow);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  width: calc(var(--spacer) * 3);
  height: calc(var(--spacer) / 2);
  background: var(--clr-fill);
  border-radius: 3em;
  border: 1px solid var(--clr-lines);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--clr-fill);
}

input[type="range"]::-moz-range-track {
  cursor: pointer;
  width: calc(var(--spacer) * 3);
  height: calc(var(--spacer) / 2);
  background: var(--clr-fill);
  border-radius: 3em;
  border: 1px solid var(--clr-lines);
}

h2 {
  display: none;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: calc(var(--spacer) * 2) 0 calc(var(--spacer) * 0.8) calc(var(--spacer) / 2);
}

button {
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--clr-text-primary);
  border: none;
  background-color: var(--clr-fill);
  padding: var(--spacer) calc(var(--spacer) / 2);
}

button.active {
  color: var(--clr-accent-primary);
}

form {
  background-color: transparent;
  border-radius: 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: var(--clr-box-shadow);
          box-shadow: var(--clr-box-shadow);
}

form input {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--clr-text-primary);
  background-color: var(--clr-fill);
  height: 50px;
  border: none;
  padding-left: var(--spacer);
  border-radius: 0.4em 0 0 0.4em;
}

form input::-webkit-input-placeholder {
  color: var(--clr-text-secondary);
}

form input:-ms-input-placeholder {
  color: var(--clr-text-secondary);
}

form input::-ms-input-placeholder {
  color: var(--clr-text-secondary);
}

form input::placeholder {
  color: var(--clr-text-secondary);
}

form button {
  border-radius: 0 0.4em 0.4em 0;
  padding: 0 var(--spacer);
}

form button:hover, form button:focus {
  color: var(--clr-accent-primary);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  outline: none;
}

ul {
  list-style-type: none;
  margin: var(--spacer) 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0.4em;
  -webkit-box-shadow: var(--clr-box-shadow);
          box-shadow: var(--clr-box-shadow);
}

ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: var(--row-height);
  background-color: var(--clr-fill);
  padding-left: var(--spacer);
}

ul li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li label:hover, ul li label:focus {
  cursor: pointer;
}

ul li label .custom-checkbox {
  width: 1.2em;
  height: 1.2rem;
  border: 1px solid var(--clr-lines);
  border-radius: 3em;
  margin-right: calc(var(--spacer) * 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul li input:checked + label .custom-checkbox {
  background: linear-gradient(135deg, #57ddff, #c058f3);
}

ul li input:checked + label {
  text-decoration: line-through;
  color: var(--clr-lines);
}

ul li input {
  display: none;
}

ul li:first-child {
  border-radius: 0.4em 0.4em 0 0;
}

ul li:not(:last-child) {
  border-bottom: 1px solid var(--clr-lines);
}

ul li.active {
  font-weight: 700;
  color: var(--clr-accent-primary);
}

ul#list-items {
  margin-bottom: 0;
}

#lists-section li:last-child {
  border-radius: 0 0 0.4em 0.4em;
}

#list-items-options,
#data-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: var(--row-height);
  padding: var(--spacer);
  background-color: var(--clr-fill);
  -webkit-box-shadow: var(--clr-box-shadow);
          box-shadow: var(--clr-box-shadow);
}

#list-items-options {
  border-top: 1px solid var(--clr-lines);
  border-radius: 0 0 0.4em 0.4em;
  margin-top: 0;
  color: var(--clr-text-secondary);
}

#list-items-options :first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#list-items-options button {
  color: var(--clr-text-primary);
  padding: 0;
  margin-left: var(--spacer);
}

#list-items-options button:hover, #list-items-options button:focus {
  color: var(--clr-accent-primary);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

#data-filters {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.4em;
  margin: var(--spacer) 0 calc(var(--spacer) * 3);
}

#data-filters button {
  font-size: 0.9rem;
  color: var(--clr-text-secondary);
}

#data-filters button:hover, #data-filters button:focus {
  color: var(--clr-accent-primary);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 1em;
  width: 100%;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url(../images/bg-desktop-light.jpg);
  }
  header {
    margin-top: calc(var(--spacer) * 4.6);
  }
}
/*# sourceMappingURL=style.css.map */